/* use https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center_website */

body {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background: #6bb475;
}

/* h1 {
    padding: 10px;
} */

.content {
    border-radius: 25px;
    border: 5px solid #184c1f;
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    
}

.rowCounterBg {
            background-color:  #2b8537;
            background-image: linear-gradient(rgba(2, 2, 2, 0.523), rgba(0, 2, 0, 0.763)), url('https://images.pexels.com/photos/8931780/pexels-photo-8931780.jpeg');
            background-size: 500px;
            color: white;
            padding: 80px;
            text-align: center;
        }

 #changeImageButton {
    margin: 10px 0;
} 
