/* use https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center_website */

body {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background: #6bb475;
}

h1 {
    padding: 20px;
}

.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}

.rowCounterBg {
            background-image: linear-gradient(rgba(2, 2, 2, 0.523), rgba(0, 2, 0, 0.763)), url('https://images.pexels.com/photos/8931780/pexels-photo-8931780.jpeg');
            background-size: 500px;
            color: white;
            padding: 80px;
            text-align: center;
        
        }
